@import './variable';
@import './breakpoint';
@import './top';
@import './card';

body{
    font-family: 'DM Sans', sans-serif;
    background-color: $cream ;
}


main{
    margin: 4rem 0;
    @include breakpoint-up(medium){
        margin: 6rem 0;
    }
    .container{
        max-width: 500px;
        margin-inline: auto;
        @include breakpoint-down(medium){
            max-width: 90%;
        }
        @media (min-width: 600px) {
            max-width: 700px;
        }
        @include breakpoint-up(medium){
            max-width: 600px ;
        }
        @include breakpoint-up(large){
            max-width: 550px;
        }
    }

}